
<h1>Produtos</h1>
<ul>

{{#each products}}
    <li>Nome: {{this.name}} - Preço: {{this.price}} - Descrição: {{this.description}}</li>
    <li>Preço: {{this.price}}</li>
    <li>Descrição: {{this.description}}</li>
{{/each}}
</ul>