<h1 class="title-product">Produtos</h1>
<div class="products">

  {{#each products}}
    <div class="product">
      <h3>{{this.name}}</h3>
      <p>{{this.price}}</p>
      <p>Descrição: {{this.description}}</p>
      <img src="{{this.urlImage}}" alt="{{this.name}}" />
      <div class="actions">
        <a href="/products/{{this._id}}">Detalhes</a>
        <a href="/products/edit/{{this._id}}">Editar</a>

      </div>
    </div>
  {{/each}}

</div>