<div class="product-page">
    <a href="/products">Voltar</a>
    <h1>{{product.name}}</h1>
    <p>Preço: {{product.price}}</p>
    <p>Descrição: {{product.description}}</p>
    <img src="{{product.urlImage}}" alt="{{product.name}}">
</div>